/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-box {
  background-color: rgb(240, 232, 253) !important;
  border: 1px solid #cec2f9 !important;
  border-radius: 5px;
  padding: 0 1rem;
  color: rgb(61, 54, 147);
}

.msg {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ffffff !important;
  color: rgb(61, 54, 147) !important;
  border: solid 1px #cec2f9 !important;
}

.txt {
  color: rgb(157, 151, 228);
  padding: 0 0.7rem;
}

.form-control {
  background-color: rgb(240, 232, 253) !important;
  border: 1px solid #cec2f9 !important;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem; 
  color: rgb(61, 54, 147);
}

.scrollarea {
  height: 600px;
  overflow-y: scroll;

}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} 

  